
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To Gogi Bank!!</h2>

<input type="button" class="btn-primary" value="Login" onclick="location.href='@Url.Action("Login", "Home")'" />
<input type="button" class="btn-success" value="Sign Up" onclick="location.href='@Url.Action("SignUp", "Home")'" />
